.element {
	width: 50%;
	margin: 0 auto 7em;
}
.element-left {
	float: left;
	width: 50%;
}
.element-right {
	float: right;
	width: 35%;
}
/*--scroll --*/
.span_7 {
	padding-left: 0;
}
.span_8 {
	text-align: center;
	padding-left: 0;
}
.col_2 {
	background-color: #fff;
	padding: 1em;
	margin-bottom: 1em;
}
.grid-1,
.grid-2,
.grid-3,
.grid-4 {
	display: inline-block;
}
.grid-1 {
	margin-bottom: 2em;
}
.grid-1,
.grid-3 {
	margin-right: 10%;
	width: 27%;
}
i.text-info {
	float: left;
	line-height: 60px;
	font-size: 1.2em;
}
#style-2::-webkit-scrollbar-track {
	background-color: #f0f0f0;
}

#style-2::-webkit-scrollbar {
	width: 5px;
	background-color: #f5f5f5;
}

#style-2::-webkit-scrollbar-thumb {
	background-color: #fda660;
}
.copy-right {
	text-align: center;
	padding: 0em 0em 2em 0em;
}
.copy-right p {
	font-size: 1em;
	color: #fff;
	line-height: 1.6em;
}
.copy-right p a {
	color: #fd7b87;
}
.copy-right p a:hover {
	color: #fff;
	text-decoration: none;
}
/*--meadia quries start here--*/
@media (max-width: 1440px) {
	.jspVerticalBar {
		width: 15px !important;
	}
	.element-right {
		width: 40%;
	}
	.element {
		width: 53%;
	}
}
@media (max-width: 1366px) {
	.element-left {
		width: 55%;
	}
	.element {
		width: 54%;
	}
}
@media (max-width: 1280px) {
	.element {
		width: 57.5%;
	}
}
@media (max-width: 1024px) {
	.element {
		width: 58.5%;
	}
}
@media (max-width: 768px) {
	.element {
		width: 76.5%;
	}
}
@media (max-width: 667px) {
	.element {
		width: 85.5%;
	}
}
@media (max-width: 640px) {
	.element {
		width: 90.5%;
	}
}
@media (max-width: 600px) {
	.element {
		width: 94.5%;
	}
}
@media (max-width: 568px) {
	.element {
		width: 98%;
	}
}
@media (max-width: 480px) {
	.element-left {
		width: 100%;
		float: none;
	}
	.element-right {
		width: 100%;
		float: none;
		margin: 1.5em 0em 0em 0em;
	}
	.element {
		width: 80%;
	}
	h1 {
		font-size: 1.8em;
		margin: 1.5em 0em 1em 0em;
	}
	.jspContainer {
		width: 335px !important;
	}
}
@media (max-width: 414px) {
}
@media (max-width: 384px) {
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
	h1 {
		font-size: 1.5em;
		margin: 1em 0em 1em 0em;
	}
	.element {
		width: 95%;
		margin: 0 auto 2em;
	}
	.jspContainer {
		width: 259px !important;
	}
	.row.row1.scroll-pane.jspScrollable {
		width: 260px !important;
	}

	.top-on1 h4 {
		font-size: 0.84em;
	}
	.top-on1 h5 {
		font-size: 0.75em;
	}
	.copy-right p {
		font-size: 0.85em;
	}
}
