/*--teddy-bear--*/
.teddy-bear {
	text-align: center;
	margin-bottom: 1.5em;
}
.teddy-text {
	background: #fd7b87;
	padding: 1.2em 1em;
	border-radius: 5px 5px 0px 0px;
}
.teddy-text h4 {
	color: #fff;
}
.teddy-text img {
	border-radius: 70px;
	border: 3px solid #fff;
}
.teddy-follow {
	background: #f2f1ef;
	padding: 0.7em 0em 0.7em 0em;
	border-radius: 0px 0px 4px 4px;
}
.teddy-follow li {
	display: inline-block;
	padding: 0em 0.9em;
}
.teddy-follow li h3 {
	font-size: 0.95em;
	color: #000;
	font-weight: bold;
}
.teddy-follow li p {
	font-size: 0.8em;
	color: #8a8a8a;
}
.teddy-follow li.folw-h {
	border-right: 1px solid #000;
}

@media (max-width: 640px) {
	.element {
		width: 90.5%;
	}
	.teddy-text {
		padding: 1em 1em;
	}
}
@media (max-width: 1280px) {
	.teddy-text h4 {
		font-size: 0.95em;
	}
}
@media (max-width: 1280px) {
	.teddy-text h4 {
		font-size: 0.95em;
	}
}
@media (max-width: 1440px) {
	.teddy-text {
		padding: 1.2em 1em;
	}
}

.image-block {
	height: 106px;
	width: 100%;
}

.followers-block {
	width: 100%;
	height: 18px;
}
